.pokemon__list {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    margin: 20px 0;
}

.pokemon__item {
    border-radius: 10px;
    box-shadow: 1px 3px 15px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}