* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

@media(max-width: 1170px) {
    .container {
       padding: 0 15px;
    }
}