* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

@media(max-width: 1170px) {
    .container {
       padding: 0 15px;
    }
}

.type_flying {
    border: 5px solid SkyBlue;
}
.type_poison {
    border: 5px solid Aquamarine;
}
.type_fire {
    border: 5px solid OrangeRed;
}
.type_water {
    border: 5px solid Aqua;
}
.type_bug {
    border: 5px solid SpringGreen;
}
.type_normal {
    border: 5px solid Tan;    
}

.type_ground {
    border: 5px solid BlueViolet;
}

.type_electric {
    border: 5px solid Gold;
}

.type_fairy {
    border: 5px solid HotPink; 
}

.type_fighting {
    border: 5px solid Gray; 
}

.type_grass {
    border: 5px solid Coral; 
}

.type_psychic {
    border: 5px solid Plum; 
}

.type_steel {
    border: 5px solid Black; 
}

.type_ice {
    border: 5px solid DodgerBlue; 
}